<!-- <app-demo></app-demo> -->
<!-- <app-tdf></app-tdf> -->
<app-empployee></app-empployee>
<router-outlet></router-outlet>

<!-- <nav>
  <a >
    <button routerLink="/demo" enable="enable">Demo</button>
  </a>
</nav> -->
<!-- {{Message}} -->
<!-- <h1>
  <div appMyDirective>Hello</div>
</h1> -->

<!-- <h2>Fruits available</h2>
 <ul class="newcomp">
  <li *ngFor="let fruit of fruits" [class.selected]="fruit === SelectedFruit" (click)="onSelect (fruit)">
    <span class="badge"> {{fruit.id}}</span> {{fruit.name}}
  </li>
</ul> 
<div *ngIf="SelectedFruit">
  <h2>{{SelectedFruit.name | uppercase}} Details</h2>
  <div><span>id: </span>{{SelectedFruit.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="SelectedFruit.name" placeholder="name" />
    </label>
  </div>
</div> -->

<!-- <h1>this is app </h1>
<app-demo></app-demo>
<router-outlet></router-outlet>
{{title}}
<br>
{{myobj.color}} -->
<!-- <div>
  <button (click)="goback()">go back</button>
</div> -->